.item {
  display: flex;
  width: 350px;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 13px;
  box-shadow: black;
}

.status,
.avatar,
.name {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1pt solid rgb(197, 193, 193);
}

.avatar {
  width: 60px;
}

.name {
  font-size: 26px;
}